.bollywoodContainer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    margin-bottom: 50px;
   
}
.bollywooditem1 h2{
    width: 100%;
}
.bollywooditem1{
    width: 65%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.bollywooditem2{
    width: 30%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.bollyitem{
    width: 100%;
    margin-bottom: 20px;
}

.Container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:  30px;
}
.Container .line{
    width: 100%;
    height: 0px;
    border: 2px solid gray;
    margin-bottom: 10px;
}
.img-item{
    width: 40%;
    height: 90%;
    
}
.discription h3{
    margin: 0px;
}
.discription p{
    text-align: justify;
}
.img-item img{
    width: 100%;
    height: 300px;
}
.discription{
    width: 55%;
    height:auto;
}
.post-item1{
    width: 50%;
}
.post-item2{
    width: 48%;
}
.post-item1 img{
    width: 100%;
    height: 150px;
}
.Advertistement{
    height: 600px;
}
@media (max-width:850px) {
    .bollywooditem1{
        width: 60%;
    }
    .bollywooditem2{
        width: 35%;

    }
    .img-item{
        width: 100%;
        height: auto;
    }
    .discription{
        width: 100%;
    }
    .Advertistement{
        display: none;
    }
}

        
        
@media (max-width:550px) {
    .bollywooditem1{
        width: 99%;
    }
    .bollywoodContainer{
        padding: 1%;
    }
    .bollywooditem2{
        width: 99%;
    }
}